<section class="hidden post-cont" style="transform: translate(-50%, -50%);">
    <form id="new-post">
        <div>
            <select id="post-group">
                <option>Everyone \/</option>
            </select>
        </div>
        <div>
            <label for="post-title">Title</label>
            <input id="post-title" name="post-title" required>
        </div>
        <div>
            <label for="post-content">Content</label>
            <textarea id="post-content" name="post-content" required></textarea>
        </div>
        <button class="btn">Post</button>
    </form>
</section>

<div class="cover"></div>
<button id="create-post">P</button>

<script type="text/javascript" src="/static/scripts/create-post.js"></script>