<nav>
    <ul>
        <li><a class="btn" href="/">H</a></li>
        <li><a class="btn" href="/search">Search</a></li>
        <li><a class="btn" href="/group">Groups</a></li>
        <li><a class="btn" href="/user""><%= session.username %></a></li>
    </ul>
</nav>